.btn{
    padding: 10px 14px;
    width: 165px;
    height: 45px;
    border-radius: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}